.button{
	-fx-font-size: 12pt;
	-fx-text-fill: black;
	-fx-background-color: lightblue;
}
#barra{
	-fx-background-color: blue
}

#tabla{
	-fx-background-color: lightblue
}

#registroPaciente{
	-fx-background-color: lightblue
}

